.instagram-media {
    background:#FFF;
    border:0;
    border-radius:3px;
    box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15);
    margin:1px;
    max-width:658px;
    padding:8px;
    width:99.375%;
    width:-webkit-calc(100% - 2px);
    width:calc(100% - 2px);
}

.post-picture {
    background:#F8F8F8;
    line-height:0;
    margin-top:40px;
    padding:50.0% 0;
    text-align:center;
    width:100%;
}

.description-text {
    margin:8px 0 0 0;
    padding:0 4px;
}

.description-text__link {
    color:#000;
    font-family:Arial,sans-serif;
    font-size:14px;
    font-style:normal;
    font-weight:normal;
    line-height:17px;
    text-decoration:none;
    word-wrap:break-word;
}

.user-text {
    color:#c9c8cd;
    font-family:Arial,sans-serif;
    font-size:14px;
    line-height:17px;
    margin-bottom:0;
    margin-top:8px;
    overflow:hidden;
    padding:8px 0 7px;
    text-align:center;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.user-text__user-name {
    color:#c9c8cd;
    font-family:Arial,sans-serif;
    font-size:14px;
    font-style:normal;
    font-weight:normal;
    line-height:17px;
}

.time {
    font-family:Arial,sans-serif;
    font-size:14px;
    line-height:17px;
}