.form-button {
    color: #008000;
    font-size: 1.5rem;
    text-decoration: none;
    margin-bottom: 1rem;
    padding: 0.25rem 0.5rem;
    border: 2px solid #008000; 
    border-radius: 3px;
    cursor: pointer;
    background-color: #ffffff;
    box-shadow: inset 0 0 .2rem #808080;
}

.form-button--secondary {
    cursor: pointer;
    color: #ec2e2b;
    border: 2px solid #ec2e2b;
    box-shadow: inset 0 0 .2rem #808080;
}

.form-button:hover, .form-button--secondary:hover {
    box-shadow: .1rem .1rem .2rem #808080;
}

.form-button:disabled {
    color: #808080;
    border: 2px solid #808080;
}