.error-alert {
    color: #a94442;
    background-color: #f2dede;
    padding: .5rem;
    border: 1px solid #a94442;
    border-radius: 3px;
}

.success-alert {
    color: #3c763d;
    background-color: #dff0d8;
    padding: .5rem;
    border: 1px solid #3c763d;
    border-radius: 3px;
}