.form-input {
    font-size: 1.3rem;
    display: block;
    width: 100%;
    margin: .5rem 0;
    padding: 0.5rem;
    border: 2px solid #000000;
    border-radius: 5px;
}

.form-input--error {
    border-color: red;
}

fieldset {
    border: none;
}

.form-input__error {
    font-style: italic;
    color: red;
}