.ordination-options {
    width: 70%;
    min-width: 300px;
    margin: 0 auto;
}

.ordination-options__title {
    font-size: 1rem;
    color:#4b4f56;
}

.ordination-options__select {
    border: 0;
    border-radius: 3px;
    box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15);
    font-size: 1rem;
}

/* .ordination-options__radio-button {
    margin: .3rem .3rem .3rem 0;
    width: 1rem;
    cursor: pointer;
}

.ordination-options__label {
    margin-right: .5rem;
    cursor: pointer;
    color:#4b4f56;
} */