* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 3rem;
    background-color: #ec2e2b;
}
.navbar__logo{
    height: inherit;
}
.navbar__links{
    list-style: none;
}
.menu-item{
    display: inline-block;
    padding: 1rem 3rem;
}
.menu-link{
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    
    letter-spacing: 3px;
}