.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.5rem;
    background-color: #E21E20;
}

.navbar__logo {
    margin-left: .5rem;
    height: 3rem;
}

#menu-hamburguer {
    float: right;
    opacity: 0;
}

.fa-bars {
    font-size: 2rem;
    cursor: pointer;
}

#menu-hamburguer:checked + .navbar-links {
    opacity: 1;
    right: 0;
    pointer-events: all;
}

.navbar-links {
    position: absolute;
    display: block;
    height: 100%;
    width: 50%;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    right: -50%;
    list-style: none;
    background-color: #E21E20; 
}

.navbar-links__item {
    display: block;
}

.link {
    margin-top: 1.5rem;
    padding: .5rem;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

.link:hover, .link:active {
    color: #ffffff;
}

@media (min-width: 1080px) {
    .fa-bars {
        display: none;
    }

    .navbar-links {
        position: fixed;
        display: inline-block;
        opacity: 1;
        right: 0;
        top: 0;
        pointer-events: all;
        height: inherit;
        width: inherit;
    }

    .navbar-links__item {
        display: inline-block;
    }

    .navbar-links__item:nth-of-type(2) {
        border-right: 2px solid black;
        border-left: 2px solid black;
    }
}