.navbar {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 5rem;
    background-color: #ec2e2b;
}

.navbar__logo {
    height: 3rem;
}

.navbar-links {
    list-style: none;
}

.navbar-links__item {
    display: inline-block;
}

.link {
    margin: .5rem;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

.link:hover {
    color: #ffffff;
}

@media (min-width: 768px) {
    .navbar{
        flex-direction: row;
        justify-content: space-between;
        height: 4rem;
    }

    .navbar__logo{
        height: inherit;
    }

    .menu-link{
        margin: 1rem;
        font-size: 1.5rem;
    }
}