.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    min-width: 320px;
    margin: 8rem auto 0 auto;
}

.home__title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}