.button{
    padding: 0 0.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 3px;
    background-color: #ffffff;
}
.button--primary{
    border: 2px solid #008000; 
}
.button--secondary{
    border: 2px solid #ec2e2b;    
}