*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* NAVBAR */
.navbar{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 3rem;
    background-color: #ec2e2b;
}
.navbar__logo{
    height: inherit;
}
.navbar__links{
    list-style: none;
}
.menu-item{
    display: inline-block;
    padding: 1rem 3rem;
}
.menu-link{
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    
    letter-spacing: 3px;
}
/* MAIN */
.title{
    margin-top: 1rem;
    text-align: center;
    text-transform: uppercase;
}
/* FORM */
.feature-form{
    margin-left: 2.5%;
    padding: 0.5rem;
    width: 95%;
}
.feature-form__input{
    display: block;
    margin-bottom: 0.25rem;
    width: 100%;
}
/* BOTÃO */
.button{
    padding: 0 0.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 3px;
    background-color: #ffffff;
}
.button--primary{
    border: 2px solid #008000; 
}
.button--secondary{
    border: 2px solid #ec2e2b;    
}
/*.button--outline{
    border: 1px solid #aeb2b8;
    padding: 0.5rem 1rem;
    background-color: #ffffff;
}*/
.features{
    margin-left: 2.5%;
    width: 95%;
}