.card__delete {
    float: right;
    border: 0;
    margin-bottom: .8rem;
    font-size: 1.5rem;
    color: #808080;
    background-color: #ffffff;
}

.card__delete:hover {
    cursor: pointer;
    color: #ec2e2b;
}